@{
    ViewData["Title"] = "Home Page";
    
}
<head>
<link href="~/css/estilos.css" rel="stylesheet"  type="text/css" />
</head>
<body>
<div align="center">
    <form method="post" asp-action="TableOfSeason">
        <div style="padding-bottom: 2mm;">
            <input class="form-control" type="text" name="textNameUser" placeholder="name of user" style="color: cadetblue;"/>
        </div>
        <div style="padding-bottom: 2mm;">
            <select class="form-control" name="country">
                <option value="" style="color: cadetblue;">Choose an option</option>
                <option value="mexico" style="color: cadetblue;">Mexico</option>
                <option value="england" style="color: cadetblue;">England</option>
                <option value="spain" style="color: cadetblue;">Spain</option>
            </select>
        </div>
       <div style="padding-bottom: 2mm;">
             <input class="form-control" type="text" name="textYear" placeholder="year" style="color: cadetblue;" />
        </div>
        <div style="padding-bottom: 2mm;">
        <input type ="submit" name="btnSubmit" value="Submit" class="boton" />
        </div>
    </form>
</div>

</body>


