@model List<LibreriaSoccer.SoccerTeam>
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
    <body>
        <table>
            <thead>
                <tr><th>Equipo</th><th>Puntos</th><th>Clasificación</th></tr>
            </thead>
            
            <tbody>
            @foreach (var linea in Model) {
                <tr>
                    <th>@linea.Equipo</th>
                    <th>@linea.Puntos</th>
                    <th>@linea.Clasificacion</th>
                </tr>
            }
            </tbody>
           
        </table>
    </body>
</html>